<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DemoPortal</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3" style="height: 2rem">
            <NavLink class="nav-link" href="AbstructFactory_TP">
                <span class="oi oi-plus" aria-hidden="true"></span> AbstructFactory
            </NavLink>
        </div>
        <div class="nav-item px-3" style="height: 2rem">
            <NavLink class="nav-link" href="FactoryMethod_TP">
                <span class="oi oi-list-rich" aria-hidden="true"></span> FactoryMethod
            </NavLink>
        </div>
        <div class="nav-item px-3" style="height: 2rem">
            <NavLink class="nav-link" href=" BuilderPattern_TP">
                <span class="oi oi-list-rich" aria-hidden="true"></span>  BuilderPattern
            </NavLink>
        </div>
        <div class="nav-item px-3" style="height: 2rem">
            <NavLink class="nav-link" href="Singletone_TP">
                <span class="oi oi-list-rich" aria-hidden="true"></span>  Singletone
            </NavLink>
        </div>
        <div class="nav-item px-3" style="height: 2rem">
            <NavLink class="nav-link" href="ProtoTypePattern_TP">
                <span class="oi oi-list-rich" aria-hidden="true"></span>  ProtoTypePattern
            </NavLink>
        </div>
 
        <div class="nav-item px-3" style="height: 2rem">
            <NavLink class="nav-link" href="AdopterPattern_TP">
                <span class="oi oi-list-rich" aria-hidden="true"></span> AdopterPattern
            </NavLink>
        </div>
        <div class="nav-item px-3" style="height: 2rem">
            <NavLink class="nav-link" href="BridgePattern_TP">
                <span class="oi oi-list-rich" aria-hidden="true"></span> BridgePattern
            </NavLink>
        </div>
        <div class="nav-item px-3" style="height: 2rem">
            <NavLink class="nav-link" href="DecoratorPatern_TP">
                <span class="oi oi-list-rich" aria-hidden="true"></span> DecoratorPatern
            </NavLink>
        </div>
        <div class="nav-item px-3" style="height: 2rem">
            <NavLink class="nav-link" href="CompositePattern_TP">
                <span class="oi oi-list-rich" aria-hidden="true"></span> CompositePattern
            </NavLink>
        </div>
        <div class="nav-item px-3" style="height: 2rem">
            <NavLink class="nav-link" href="FacadePattern_TP">
                <span class="oi oi-list-rich" aria-hidden="true"></span> FacadePattern
            </NavLink>
        </div>
        <div class="nav-item px-3" style="height: 2rem">
            <NavLink class="nav-link" href="ProxyPattern_TP">
                <span class="oi oi-list-rich" aria-hidden="true"></span> ProxyPattern
            </NavLink>
        </div>
        <div class="nav-item px-3" style="height: 2rem">
            <NavLink class="nav-link" href="FlighWeightPattern_TP">
                <span class="oi oi-list-rich" aria-hidden="true"></span> FlighWeightPattern
            </NavLink>
        </div>
        <div class="nav-item px-3" style="height: 2rem">
            <NavLink class="nav-link" href="TemplatePattern_TP">
                <span class="oi oi-list-rich" aria-hidden="true"></span> TemplatePattern
            </NavLink>
        </div>
        <div class="nav-item px-3" style="height: 2rem">
            <NavLink class="nav-link" href="StrategyPattern_TP">
                <span class="oi oi-list-rich" aria-hidden="true"></span> StrategyPattern
            </NavLink>
        </div>
        <div class="nav-item px-3" style="height: 2rem">
            <NavLink class="nav-link" href="CommandPattern_TP">
                <span class="oi oi-list-rich" aria-hidden="true"></span> CommandPattern
            </NavLink>
        </div>
        <div class="nav-item px-3" style="height: 2rem">
            <NavLink class="nav-link" href="MomentoPattern_TP">
                <span class="oi oi-list-rich" aria-hidden="true"></span> MomentoPattern
            </NavLink>
        </div>
        <div class="nav-item px-3" style="height: 2rem">
            <NavLink class="nav-link" href="MediatorPatern_TP">
                <span class="oi oi-list-rich" aria-hidden="true"></span> MediatorPatern
            </NavLink>
        </div>
        <div class="nav-item px-3" style="height: 2rem">
            <NavLink class="nav-link" href="ChainedResponsiblityPattern_TP">
                <span class="oi oi-list-rich" aria-hidden="true"></span> ChainedResponsiblityPattern
            </NavLink>
        </div>
        <div class="nav-item px-3" style="height: 2rem">
            <NavLink class="nav-link" href="ObserverPattern_TP">
                <span class="oi oi-list-rich" aria-hidden="true"></span> ObserverPattern
            </NavLink>
        </div>
        <div class="nav-item px-3" style="height: 2rem">
            <NavLink class="nav-link" href="StatePattern_TP">
                <span class="oi oi-list-rich" aria-hidden="true"></span> StatePattern
            </NavLink>
        </div>
        <div class="nav-item px-3" style="height: 2rem">
            <NavLink class="nav-link" href="IteratorPattern_TP">
                <span class="oi oi-list-rich" aria-hidden="true"></span> IteratorPattern
            </NavLink>
        </div>
        <div class="nav-item px-3" style="height: 2rem">
            <NavLink class="nav-link" href="VisiterPattern_TP">
                <span class="oi oi-list-rich" aria-hidden="true"></span> VisiterPattern
            </NavLink>
        </div>
        <div class="nav-item px-3" style="height: 2rem">
            <NavLink class="nav-link" href="InterpreterPattern_TP">
                <span class="oi oi-list-rich" aria-hidden="true"></span> InterpreterPattern
            </NavLink>
        </div>
        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
